/* selector por id*/
#mensaje1{
    background-color: blue;
}
/* selector por important*/
 li {
    background-color: blue; 
}
 li {
    background-color: blueviolet !important; 
}
 li {
    background-color: forestgreen; 
}
    

/* selector por elementos*/
.product-description p {
    background-color: brown;
}